* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #f9f8a7;
  font-family: Arvo;
}
.App {
  width: 100%;
  /* max-width: 1580px; */
  height: 100vh;
  margin: auto;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
